@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--<meta http-equiv="refresh" content="3;URL=/Execution/index">-->
<ul class="nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item">
        <a class="nav-link active" id="ww-tab" data-toggle="tab" href="#ww" role="tab" aria-controls="ww" aria-selected="true">
            0
            <!--  &#x412;&#x41E;-->

        </a>

    </li>
    <li class="nav-item">
        <a class="nav-link" id="zz-tab" data-toggle="tab" href="#zz" role="tab" aria-controls="zz" aria-selected="false">
            1
            <!--  &#x422;&#x41C;-->

        </a>

    </li>
</ul>
<div class="tab-content" id="myTabContent">



    <div class="tab-pane fade show active" id="ww" role="tabpanel" aria-labelledby="ww-tab">

        0


        <!--
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>

                        TestType
                    </th>

                    <th>
                        Number
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                    Description
                    </th>

                    <th>
                        StartTime
                    </th>
                    <th>
                        EndTime
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S0-1
                    </td>
                    <td>
                        01&#x42D;&#x41A;&#x411;
                    </td>
                    <td>
                        &#x418;&#x434;&#x435;&#x43D;&#x442;&#x438;&#x444;&#x438;&#x43A;&#x430;&#x446;&#x438;&#x44F; &#x42D;&#x41A;&#x411; &#x418;&#x41F;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S0-2
                    </td>
                    <td>
                        002
                    </td>
                    <td>
                        &#x421;&#x435;&#x440;&#x438;&#x430;&#x43B;&#x438;&#x437;&#x430;&#x446;&#x438;&#x44F; &#x438;&#x437;&#x434;&#x435;&#x43B;&#x438;&#x439; (&#x43F;&#x440;&#x438;&#x441;&#x432;&#x43E;&#x435;&#x43D;&#x438;&#x435; &#x438;&#x43D;&#x434;&#x438;&#x432;&#x438;&#x434;&#x443;&#x430;&#x43B;&#x44C;&#x43D;&#x43E;&#x433;&#x43E; &#x43D;&#x43E;&#x43C;&#x435;&#x440;&#x430;)
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S0-3
                    </td>
                    <td>
                        &#x422;001
                    </td>
                    <td>
                        &#x41F;&#x440;&#x43E;&#x432;&#x435;&#x440;&#x43A;&#x430; &#x432;&#x43D;&#x435;&#x448;&#x43D;&#x435;&#x433;&#x43E; &#x432;&#x438;&#x434;&#x430; &#x438; &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x43A;&#x430;&#x447;&#x435;&#x441;&#x442;&#x432;&#x430; &#x43C;&#x430;&#x440;&#x43A;&#x438;&#x440;&#x43E;&#x432;&#x43A;&#x438;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S0-4
                    </td>
                    <td>
                        01&#x413;&#x420;
                    </td>
                    <td>
                        &#x41F;&#x440;&#x43E;&#x432;&#x435;&#x440;&#x43A;&#x430; &#x433;&#x430;&#x431;&#x430;&#x440;&#x438;&#x442;&#x43D;&#x44B;&#x445;, &#x443;&#x441;&#x442;&#x430;&#x43D;&#x43E;&#x432;&#x43E;&#x447;&#x43D;&#x44B;&#x445; &#x438; &#x43F;&#x440;&#x438;&#x441;&#x43E;&#x435;&#x434;&#x438;&#x43D;&#x438;&#x442;&#x435;&#x43B;&#x44C;&#x43D;&#x44B;&#x445; &#x440;&#x430;&#x437;&#x43C;&#x435;&#x440;&#x43E;&#x432;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S0-5
                    </td>
                    <td>
                        01&#x423;&#x41F;
                    </td>
                    <td>
                        &#x410;&#x43D;&#x430;&#x43B;&#x438;&#x437; &#x441;&#x43E;&#x43F;&#x440;&#x43E;&#x432;&#x43E;&#x434;&#x438;&#x442;&#x435;&#x43B;&#x44C;&#x43D;&#x43E;&#x439; &#x434;&#x43E;&#x43A;&#x443;&#x43C;&#x435;&#x43D;&#x442;&#x430;&#x446;&#x438;&#x438;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-6
                    </td>
                    <td>
                        &#x420;9
                    </td>
                    <td>
                        &#x41A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x43D;&#x430;&#x43B;&#x438;&#x447;&#x438;&#x44F; &#x43F;&#x43E;&#x441;&#x442;&#x43E;&#x440;&#x43E;&#x43D;&#x43D;&#x438;&#x445; &#x447;&#x430;&#x441;&#x442;&#x438;&#x446; (&#x434;&#x43B;&#x44F; &#x438;&#x437;&#x434;&#x435;&#x43B;&#x438;&#x439; &#x432; &#x43C;&#x435;&#x442;&#x430;&#x43B;&#x43B;&#x43E;&#x43A;&#x435;&#x440;&#x430;&#x43C;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x438;&#x445; &#x43A;&#x43E;&#x440;&#x43F;&#x443;&#x441;&#x430;&#x445;)
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-7
                    </td>
                    <td>
                        06-08
                    </td>
                    <td>
                        &#x41A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x44D;&#x43B;&#x435;&#x43A;&#x442;&#x440;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x438;&#x445; &#x43F;&#x430;&#x440;&#x430;&#x43C;&#x435;&#x442;&#x440;&#x43E;&#x432;, &#x444;&#x443;&#x43D;&#x43A;&#x446;&#x438;&#x43E;&#x43D;&#x430;&#x43B;&#x44C;&#x43D;&#x44B;&#x439; &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-8
                    </td>
                    <td>
                        47
                    </td>
                    <td>
                        &#x41E;&#x446;&#x435;&#x43D;&#x43A;&#x430; &#x43F;&#x430;&#x440;&#x430;&#x43C;&#x435;&#x442;&#x440;&#x43E;&#x432; &#x43F;&#x43E; &#x443;&#x436;&#x435;&#x441;&#x442;&#x43E;&#x447;&#x435;&#x43D;&#x43D;&#x44B;&#x43C; &#x43D;&#x43E;&#x440;&#x43C;&#x430;&#x43C;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-9
                    </td>
                    <td>
                        &#x422;11
                    </td>
                    <td>
                        &#x422;&#x435;&#x440;&#x43C;&#x43E;&#x446;&#x438;&#x43A;&#x43B;&#x438;&#x440;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435; &#x43F;&#x440;&#x438; &#x43C;&#x430;&#x43A;&#x441;&#x438;&#x43C;&#x430;&#x43B;&#x44C;&#x43D;&#x44B;&#x445; &#x437;&#x43D;&#x430;&#x447;&#x435;&#x43D;&#x438;&#x44F;&#x445; &#x43F;&#x43E;&#x432;&#x44B;&#x448;&#x435;&#x43D;&#x43D;&#x43E;&#x439; &#x438; &#x43F;&#x43E;&#x43D;&#x438;&#x436;&#x435;&#x43D;&#x43D;&#x43E;&#x439; &#x442;&#x435;&#x43C;&#x43F;&#x435;&#x440;&#x430;&#x442;&#x443;&#x440;&#x435;  &#x441;&#x440;&#x435;&#x434;&#x44B; &#x43F;&#x43E; &#x422;&#x414; &#x438;&#x437;&#x433;&#x43E;&#x442;&#x43E;&#x432;&#x438;&#x442;&#x435;&#x43B;&#x44F;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-10
                    </td>
                    <td>
                        54
                    </td>
                    <td>
                        &#x41F;&#x43E;&#x441;&#x442;&#x430;&#x43D;&#x43E;&#x432;&#x43A;&#x430;/&#x441;&#x44A;&#x435;&#x43C; &#x438;&#x437;&#x434;&#x435;&#x43B;&#x438;&#x439; &#x441; &#x44D;&#x43B;&#x435;&#x43A;&#x442;&#x440;&#x43E;&#x442;&#x435;&#x440;&#x43C;&#x43E;&#x442;&#x440;&#x435;&#x43D;&#x438;&#x440;&#x43E;&#x432;&#x43A;&#x438;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-11
                    </td>
                    <td>
                        54&#x422;
                    </td>
                    <td>
                        &#x41F;&#x43E;&#x441;&#x442;&#x430;&#x43D;&#x43E;&#x432;&#x43A;&#x430;/&#x441;&#x44A;&#x435;&#x43C; &#x438;&#x437;&#x434;&#x435;&#x43B;&#x438;&#x439; &#x441; &#x442;&#x435;&#x440;&#x43C;&#x43E;&#x442;&#x440;&#x435;&#x43D;&#x438;&#x440;&#x43E;&#x432;&#x43A;&#x438;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-12
                    </td>
                    <td>
                        06-08
                    </td>
                    <td>
                        &#x41A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x44D;&#x43B;&#x435;&#x43A;&#x442;&#x440;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x438;&#x445; &#x43F;&#x430;&#x440;&#x430;&#x43C;&#x435;&#x442;&#x440;&#x43E;&#x432;, &#x444;&#x443;&#x43D;&#x43A;&#x446;&#x438;&#x43E;&#x43D;&#x430;&#x43B;&#x44C;&#x43D;&#x44B;&#x439; &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-13
                    </td>
                    <td>
                        75
                    </td>
                    <td>
                        &#x41E;&#x446;&#x435;&#x43D;&#x43A;&#x430; &#x434;&#x440;&#x435;&#x439;&#x444;&#x430; &#x43F;&#x430;&#x440;&#x430;&#x43C;&#x435;&#x442;&#x440;&#x43E;&#x432;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-14
                    </td>
                    <td>
                        16
                    </td>
                    <td>
                        &#x41A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x433;&#x435;&#x440;&#x43C;&#x435;&#x442;&#x438;&#x447;&#x43D;&#x43E;&#x441;&#x442;&#x438; (&#x434;&#x43B;&#x44F; &#x438;&#x437;&#x434;&#x435;&#x43B;&#x438;&#x439; &#x432; &#x43C;&#x435;&#x442;&#x430;&#x43B;&#x43B;&#x43E;&#x43A;&#x435;&#x440;&#x430;&#x43C;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x438;&#x445; &#x43A;&#x43E;&#x440;&#x43F;&#x443;&#x441;&#x430;&#x445;)
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-&#x41E;&#x422;&#x41C;
                    </td>
                    <td>
                        &#x41E;&#x422;&#x41C;
                    </td>
                    <td>
                        &#x41E;&#x442;&#x431;&#x43E;&#x440; &#x43D;&#x430; &#x442;&#x435;&#x440;&#x43C;&#x43E;&#x43C;&#x435;&#x445;&#x430;&#x43D;&#x438;&#x43A;&#x443;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-15
                    </td>
                    <td>
                        &#x422;001
                    </td>
                    <td>
                        &#x41F;&#x440;&#x43E;&#x432;&#x435;&#x440;&#x43A;&#x430; &#x432;&#x43D;&#x435;&#x448;&#x43D;&#x435;&#x433;&#x43E; &#x432;&#x438;&#x434;&#x430; &#x438; &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x43A;&#x430;&#x447;&#x435;&#x441;&#x442;&#x432;&#x430; &#x43C;&#x430;&#x440;&#x43A;&#x438;&#x440;&#x43E;&#x432;&#x43A;&#x438;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="">

                    <td>
                        &#x412;&#x41E;
                    </td>
                    <td>
                        S1-16
                    </td>
                    <td>
                        04-1
                    </td>
                    <td>
                        &#x41D;&#x430;&#x43D;&#x435;&#x441;&#x435;&#x43D;&#x438;&#x435; &#x43E;&#x442;&#x43B;&#x438;&#x447;&#x438;&#x442;&#x435;&#x43B;&#x44C;&#x43D;&#x43E;&#x439; &#x43C;&#x430;&#x440;&#x43A;&#x438;&#x440;&#x43E;&#x432;&#x43A;&#x438;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
        -->

    </div>
    <div class="tab-pane fade" id="zz" role="tabpanel" aria-labelledby="zz-tab">

        1


        <!--
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>

                        TestType
                    </th>

                    <th>
                        Number
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                    Description
                    </th>

                    <th>
                        StartTime
                    </th>
                    <th>
                        EndTime
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr class="table-success">

                    <td>
                        &#x422;&#x41C;
                    </td>
                    <td>
                        S2-17
                    </td>
                    <td>
                        &#x412;&#x411;&#x420;
                    </td>
                    <td>
                        &#x418;&#x441;&#x43F;&#x44B;&#x442;&#x430;&#x43D;&#x438;&#x435; &#x43D;&#x430; &#x432;&#x438;&#x431;&#x440;&#x43E;&#x43F;&#x440;&#x43E;&#x447;&#x43D;&#x43E;&#x441;&#x442;&#x44C;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x422;&#x41C;
                    </td>
                    <td>
                        S2-18
                    </td>
                    <td>
                        06-08
                    </td>
                    <td>
                        &#x41A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x44D;&#x43B;&#x435;&#x43A;&#x442;&#x440;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x438;&#x445; &#x43F;&#x430;&#x440;&#x430;&#x43C;&#x435;&#x442;&#x440;&#x43E;&#x432;, &#x444;&#x443;&#x43D;&#x43A;&#x446;&#x438;&#x43E;&#x43D;&#x430;&#x43B;&#x44C;&#x43D;&#x44B;&#x439; &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x422;&#x41C;
                    </td>
                    <td>
                        S2-19
                    </td>
                    <td>
                        &#x41E;&#x423;
                    </td>
                    <td>
                        &#x418;&#x441;&#x43F;&#x44B;&#x442;&#x430;&#x43D;&#x438;&#x435; &#x43D;&#x430; &#x432;&#x43E;&#x437;&#x434;&#x435;&#x439;&#x441;&#x442;&#x432;&#x438;&#x435; &#x43E;&#x434;&#x438;&#x43D;&#x43E;&#x447;&#x43D;&#x44B;&#x445; &#x443;&#x434;&#x430;&#x440;&#x43E;&#x432;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x422;&#x41C;
                    </td>
                    <td>
                        S2-20
                    </td>
                    <td>
                        06-08
                    </td>
                    <td>
                        &#x41A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x44D;&#x43B;&#x435;&#x43A;&#x442;&#x440;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x438;&#x445; &#x43F;&#x430;&#x440;&#x430;&#x43C;&#x435;&#x442;&#x440;&#x43E;&#x432;, &#x444;&#x443;&#x43D;&#x43A;&#x446;&#x438;&#x43E;&#x43D;&#x430;&#x43B;&#x44C;&#x43D;&#x44B;&#x439; &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x422;&#x41C;
                    </td>
                    <td>
                        S3-21
                    </td>
                    <td>
                        &#x41F;&#x422;&#x421;
                    </td>
                    <td>
                        &#x418;&#x441;&#x43F;&#x44B;&#x442;&#x430;&#x43D;&#x438;&#x435; &#x43D;&#x430; &#x432;&#x43E;&#x437;&#x434;&#x435;&#x439;&#x441;&#x442;&#x432;&#x438;&#x435; &#x43F;&#x43E;&#x432;&#x44B;&#x448;&#x435;&#x43D;&#x43D;&#x43E;&#x439; &#x442;&#x435;&#x43C;&#x43F;&#x435;&#x440;&#x430;&#x442;&#x443;&#x440;&#x44B; &#x441;&#x440;&#x435;&#x434;&#x44B; &#x43F;&#x440;&#x438; &#x44D;&#x43A;&#x441;&#x43F;&#x43B;&#x443;&#x430;&#x442;&#x430;&#x446;&#x438;&#x438;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x422;&#x41C;
                    </td>
                    <td>
                        S3-22
                    </td>
                    <td>
                        &#x41F;&#x422;&#x41D;
                    </td>
                    <td>
                        &#x418;&#x441;&#x43F;&#x44B;&#x442;&#x430;&#x43D;&#x438;&#x435; &#x43D;&#x430; &#x432;&#x43E;&#x437;&#x434;&#x435;&#x439;&#x441;&#x442;&#x432;&#x438;&#x435; &#x43F;&#x43E;&#x43D;&#x438;&#x436;&#x435;&#x43D;&#x43D;&#x43E;&#x439; &#x442;&#x435;&#x43C;&#x43F;&#x435;&#x440;&#x430;&#x442;&#x443;&#x440;&#x44B; &#x441;&#x440;&#x435;&#x434;&#x44B; &#x43F;&#x440;&#x438; &#x44D;&#x43A;&#x441;&#x43F;&#x43B;&#x443;&#x430;&#x442;&#x430;&#x446;&#x438;&#x438;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x422;&#x41C;
                    </td>
                    <td>
                        S3-23
                    </td>
                    <td>
                        72
                    </td>
                    <td>
                        &#x418;&#x441;&#x43F;&#x44B;&#x442;&#x430;&#x43D;&#x438;&#x435; &#x43D;&#x430; &#x432;&#x43E;&#x437;&#x434;&#x435;&#x439;&#x441;&#x442;&#x432;&#x438;&#x435; &#x438;&#x437;&#x43C;&#x435;&#x43D;&#x435;&#x43D;&#x438;&#x44F; &#x442;&#x435;&#x43C;&#x43F;&#x435;&#x440;&#x430;&#x442;&#x443;&#x440;&#x44B; &#x441;&#x440;&#x435;&#x434;&#x44B;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-success">

                    <td>
                        &#x422;&#x41C;
                    </td>
                    <td>
                        S3-24
                    </td>
                    <td>
                        06-08
                    </td>
                    <td>
                        &#x41A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x44D;&#x43B;&#x435;&#x43A;&#x442;&#x440;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x438;&#x445; &#x43F;&#x430;&#x440;&#x430;&#x43C;&#x435;&#x442;&#x440;&#x43E;&#x432;, &#x444;&#x443;&#x43D;&#x43A;&#x446;&#x438;&#x43E;&#x43D;&#x430;&#x43B;&#x44C;&#x43D;&#x44B;&#x439; &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C;
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
        -->

    </div>
    </div>